* {
    font-family: monospace;
    font-weight: 400;

    /*border-color: red;
    border: 2px;
    border-style: solid;*/

}

body {
    background-color: black;
    color: black;
}

main {
    margin: 80px;
    margin-top: 30px;
    margin-bottom: 30vh;
    background-color: white;
}

h1 {
    max-width: 73vw;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: large;
}

a {
    font-size: large;
}

.bolder {
    font-weight: 600;
}

.main-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.middle {
    width: 80vw;
}

img {
    display: block;
    margin: auto;
}

.bandc-sidebar {
    width: 20vw;
}

.bandc-bottom {
    display: none;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.flex-col {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.hide {
    display: none;
}

.unhide {}

.just-flex {}

.jumplink {
    margin-right: 20px;
    margin-bottom: 15px;
}

.section {
    border-color: black;
    border: 10px;
    border-style: solid;
    padding: 10px;
}

.concept-text {
    width: 30%;
}

@media (width <=1100px) {

    h1 {
        max-width: 100%;
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 15px;
    }

    p {
        font-size: large;
    }

    a {
        font-size: large;
    }

    main {
        /*margin-right: 30px;*/
        margin: 5px;
        margin-bottom: 50vh;
    }

    .main-content {
        flex-direction: column;
    }

    .middle {
        width: 100%;
        margin: auto;
    }

    .bandc-sidebar {
        display: none;
    }

    .bandc-bottom {
        display: block;
        margin: 0;
    }

    .hide {
        display: block;
    }

    .unhide {
        display: none;
    }

    .just-flex {
        display: flex;
        flex-direction: column;
    }

    .flex-row {

        flex-direction: column;

    }

    .concept-text {
        width: auto;
    }
}